header {
    a {
        color: black;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }

    background-color: lightgray;

    padding: 20px;
    display: flex; 
    gap: 40px
}